<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Hakyll Blog - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/github-gist.min.css" />
        <script src="/scripts/highlight.min.js"></script>
    </head>
    <body>
        <script>hljs.initHighlightingOnLoad();</script>
        <header $if(main)$class="main"$endif$>
            <div class="logo">
                <a href="https://weeezes.github.io/">
                    <img src="/images/w-logo.svg" />
                </a>
            </div>
            <nav>
                <a href="https://github.com/weeezes"><img class="texticon" src="/images/icons/github.svg" width="16" height="16" /><div class="social-link">GitHub</div></a>
                <a href="https://www.linkedin.com/in/vesa-hagstrom"><img class="texticon" src="/images/icons/linkedin.svg" width="16" height="16" /><div class="social-link">LinkedIn</div></a>
            </nav>
        </header>

        <main role="main">
            $body$
        </main>

        <footer>
            <a href="http://weeezes.github.io/">-</a>
        </footer>
    </body>
</html>
